.ham-div {
  display: none;
}

.ham {
  display: none;
}

.app-body {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.app-display-box {
  width: 80%;
  min-height: 100vh;
  height: fit-content;
  /* border: 1px solid black; */
}

.app-drawer-box-under {
  width: 20%;
  min-height: 100vh;
  height: fit-content;
  /* border: 1px solid black; */
}

.app-drawer-box-over {
  width: 20%;
  min-height: 100vh;
  height: fit-content;
  /* border: 1px solid black; */
}

.overlay {
  position: fixed;
}

@media screen and (max-width: 1150px){

    .app-drawer-box-under {
      display: none;
    }

    .app-drawer-box-over {
      width: 275px;
      transition: 0.3s;
    }

    .hide {
      position: absolute;
      transform: translateX(-300px);
      transition: 0.3s;
    }

    .app-display-box {
      width: 100%;
    }

    .ham-div {
      display: block;
      position: fixed;
    }

    .ham {
      display: inline-block;
    }
    
}